<?xml version="1.0" encoding="UTF-8" ?>

<swsys>
    <bus name="nav" max_topics="256" eq_channel="1">
        <event_queue size="20" buffer_size="2000"/>
        <dir subpath="accel" eq_channel="1"/>
        <dir subpath="angrate" eq_channel="1"/>
        <dir subpath="angle" eq_channel="1"/>
        <dir subpath="vel" eq_channel="1"/>
        <dir subpath="coord" eq_channel="1"/>
        <dir subpath="alt" eq_channel="1"/>
    </bus>

    <bus name="control" max_topics="256" eq_channel="1">
        <event_queue size="20" buffer_size="2000"/>
    </bus>

    <bus name="ref" max_topics="256" eq_channel="1">
        <event_queue size="20" buffer_size="2000"/>
    </bus>

    <bus name="mode" max_topics="256" eq_channel="1">
        <event_queue size="20" buffer_size="2000"/>
    </bus>

    <task type="flow" name="nav" config="nav.xml" priority="5" clk_method="timer" clk_period="5">
        <connect>
            <out alias="ax">itb:/nav/accel/ax</out>
            <out alias="ay">itb:/nav/accel/ay</out>
            <out alias="az">itb:/nav/accel/az</out>
            <out alias="wx">itb:/nav/angrate/wx</out>
            <out alias="wy">itb:/nav/angrate/wy</out>
            <out alias="wz">itb:/nav/angrate/wz</out>
            <out alias="roll">itb:/nav/angle/roll</out>
            <out alias="pitch">itb:/nav/angle/pitch</out>
            <out alias="yaw">itb:/nav/angle/yaw</out>
            <out alias="Vx">itb:/nav/vel/Vx</out>
            <out alias="Vy">itb:/nav/vel/Vy</out>
            <out alias="Vz">itb:/nav/vel/Vz</out>
            <out alias="lat">itb:/nav/coord/lat</out>
            <out alias="lon">itb:/nav/coord/lon</out>
            <out alias="alt">itb:/nav/alt/alt</out>
            <out alias="alt_bar">itb:/nav/alt/alt_bar</out>
            <out alias="alt_gnd">itb:/nav/alt/alt_gnd</out>
        </connect>
    </task>

    <task type="flow" name="control" config="control.xml" priority="5" clk_method="timer" clk_period="5">
        <connect>
            <in alias="nav">itb:/nav</in>
            <in alias="ref">itb:/ref</in>
            <in alias="mode">itb:/mode</in>
            <out alias="rotor_front_left">itb:/control/rotor_front_left</out>
            <out alias="rotor_front_right">itb:/control/rotor_front_left</out>
            <out alias="rotor_rear_left">itb:/control/rotor_rear_left</out>
            <out alias="rotor_rear_right">itb:/control/rotor_rear_right</out>
        </connect>
    </task>

</swsys>
